{
	"semi": true,
	"useTabs": true,
	"singleQuote": true,
	"tabWidth": 2,
	"printWidth": 120,
	"trailingComma": "es5",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "lf",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": ["*.svelte"],
			"options": {
				"parser": "svelte"
			}
		},
		{
			"files": ["*.css", "*.ts", "*.tsx"],
			"options": {
				"bracketSameLine": false,
				"bracketSpacing": true,
				"arrowParens": "always",
				"endOfLine": "lf"
			}
		}
	]
}
