rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
    // Allow read access to all documents in the "events" collection
    match /events/{document} {
      allow read: if true;
    }
    // Allow read access to all documents in the "news" collection
    match /news/{document} {
      allow read: if true;
    }
    
    // Allow users to red, write their own documents
     match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow write access to documents in the "events" and "news" collections 
    // only if the user has "editor" or "admin" role
   match /events/{document} {
      allow write: if request.auth.token.role ==  'editor' || request.auth.token.role == 'admin';
      }
   match /news/{document} {
      allow write: if request.auth.token.role ==  'editor' || request.auth.token.role == 'admin';
    	}
   match /users/{document} {
      allow read, write: if request.auth.token.role == 'admin';
      }
    
  }
}