@theme {
	--breakpoint-*: initial;
	--breakpoint-sm: 480px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;

	--font-*: initial;
	--font-body:
		Inter, ui-sans-serif, system-ui, -apple-system, system-ui, Segoe UI, Roboto,
		Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
		Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	--font-sans:
		Inter, ui-sans-serif, system-ui, -apple-system, system-ui, Segoe UI, Roboto,
		Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
		Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	--font-mono:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
		Courier New, monospace;

	--color-primary-20: rgba(16, 11, 116, 0.2);
	--color-primary-40: rgba(16, 11, 116, 0.4);
	--color-primary-60: rgba(16, 11, 116, 0.6);
	--color-primary-80: rgba(16, 11, 116, 0.8);
	--color-primary-100: rgba(16, 11, 116, 1);
	--color-primary-text: rgba(0, 0, 0, 1);

	--color-secondary-20: rgba(204, 204, 204, 0.2);
	--color-secondary-40: rgba(204, 204, 204, 0.4);
	--color-secondary-60: rgba(204, 204, 204, 0.6);
	--color-secondary-80: rgba(204, 204, 204, 0.8);
	--color-secondary-100: rgba(204, 204, 204, 1);
	--color-secondary-text: rgba(255, 255, 255, 1);

	--color-seablue-20: rgba(41, 182, 204, 0.2);
	--color-seablue-40: rgba(41, 182, 204, 0.4);
	--color-seablue-60: rgba(41, 182, 204, 0.6);
	--color-seablue-80: rgba(41, 182, 204, 0.8);
	--color-seablue-100: rgba(41, 182, 204, 1);

	--color-purple-20: rgba(100, 18, 129, 0.2);
	--color-purple-40: rgba(100, 18, 129, 0.4);
	--color-purple-60: rgba(100, 18, 129, 0.6);
	--color-purple-80: rgba(100, 18, 129, 0.8);
	--color-purple-100: rgba(100, 18, 129, 1);

	--color-rose-20: rgba(173, 52, 149, 0.2);
	--color-rose-40: rgba(173, 52, 149, 0.4);
	--color-rose-60: rgba(173, 52, 149, 0.6);
	--color-rose-80: rgba(173, 52, 149, 0.8);
	--color-rose-100: rgba(173, 52, 149, 1);

	--color-accent-red: rgba(208, 63, 48, 1);
	--color-accent-gold: rgba(245, 179, 31, 1);

	--color-white-primary: rgba(255, 255, 255, 1);
	--color-white-smoke: rgba(245, 245, 245, 1);

	--color-link-primary: rgba(100, 18, 129, 1);

	--color-green-20: rgba(7, 153, 158, 0.2);
	--color-green-40: rgba(7, 153, 158, 0.4);
	--color-green-60: rgba(7, 153, 158, 0.6);
	--color-green-80: rgba(7, 153, 158, 0.8);
	--color-green-100: rgba(7, 153, 158, 1);

	--color-black-20: rgba(0, 0, 0, 0.2);
	--color-black-40: rgba(0, 0, 0, 0.4);
	--color-black-60: rgba(0, 0, 0, 0.6);
	--color-black-80: rgba(0, 0, 0, 0.8);
	--color-black-100: rgba(0, 0, 0, 1);

	--color-warning-100: var(--color-orange-500)
}

@layer base {

	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

@layer base {
	:root {
		background: whitesmoke;
	}

	body {
		font-family: 'Inter', sans-serif;
		min-height: 100vh;
		color: var(--color-primary-100);
	}

	a,
	a:where(:not(.btn)) {
		cursor: pointer;
		color: var(--color-seablue-100);
		text-decoration: none !important;
	}

	.card {
		color: var(--color-primary-text);	
	}

	.link {
		position: relative;
		text-decoration: none;
		transition-property: color;
		transition-duration: 200ms;
	}

	.link::after {
		position: absolute;
		bottom: -4px;
		/* Positioned outside the element's box */
		left: 0;
		height: 3px;
		width: 100%;
		transform-origin: bottom left;
		transform: scaleX(0);
		background-color: var(--color-seablue-100);
		transition-property: transform;
		transition-duration: 200ms;
		content: '';
	}

	.link:hover::after {
		transform: scaleX(1);
	}

	.headLineLink {
		padding-bottom: 0;
		font-size: var(--text-xl);
		line-height: var(--text-xl--line-height);
		font-weight: var(--font-weight-semibold);
		color: var(--color-primary-100);
		padding: 10px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	.headLineElement {
		color: var(--color-primary-100);
		transition: color 0.2s ease-in-out;
	}

	.headLineElement:hover {
		color: var(--color-primary-40);
	}

	h1 {
		color: black;
		font-weight: 700;
		font-size: 2rem;
		margin-top: 0.5em;
		margin-bottom: 0.6em;
		line-height: 1.6;
		color: var(--color-primary-100);
	}

	h2 {
		color: black;
		font-weight: 700;
		font-size: 1.5rem;
		margin-top: 0.5em;
		margin-bottom: 0.6em;
		line-height: 1.6;
		color: var(--color-primary-100)
	}

	h3 {
		font-weight: 600;
		font-size: 1.25em;
		margin-top: 0.5em;
		margin-bottom: 0.6em;
		line-height: 1.6;
	}

	h4 {
		font-size: 1.125rem;
		/* text-lg */
		font-weight: 600;
	}

	.headline {
		font-size: 1.25rem;
		/* text-2xl */
		font-weight: 600;
		margin-bottom: 20px;
		margin-top: 20px;
	}
}

@layer components {

	/* Disabled fieldset styling */
	fieldset:disabled {
		opacity: 0.6;
		pointer-events: none;
	}

	fieldset:disabled label,
	fieldset:disabled input,
	fieldset:disabled button,
	fieldset:disabled select,
	fieldset:disabled textarea {
		opacity: 0.6;
		cursor: not-allowed;
	}

	fieldset:disabled .explanation {
		opacity: 0.6;
	}

	.content-container {
		margin-left: auto;
		margin-right: auto;
		max-width: 1400px;
	}


	/* # News and Articles */

	.article-title {
		font-size: var(--text-xl);
		font-weight: 600;
	}

	.article-subtitle {
		font-size: var(--text-lg);
		font-weight: 600;
	}

	.article-metadata {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 20px 0;
		gap: 30px;
		font-size: var(--text-sm);
	}

	.article-metadata-item {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		gap: 10px;
		font-size: var(--text-sm);
	}

	.article-image-container {
		margin-bottom: 40px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.article-image {
		object-fit: cover;
		height: 100%;
		border-radius: 10px;
	}

	.back-link {
		display: flex;
		align-items: center;
		margin: 40px 0;
		gap: 8px;
		cursor: pointer;
		color: var(--color-primary-text);
		text-decoration: none;
		transition-property: color;
		transition-duration: 200ms;
	}

	.back-link a {
		color: var(--color-primary-text);
		text-decoration: none;
	}

	.back-link:hover {
		color: var(--color-primary-40);
	}

	.back-link:hover a {
		color: var(--color-primary-40);
	}

	/* # Buttons */

		.calltoaction {
		display: flex;
		height: 3rem;
		width: 15rem;
		align-items: center;
		justify-content: center;
		border-radius: 0.75rem;
		border: none;
		background-color: var(--color-purple-600);
		font-weight: 600;
		color: var(--color-white-primary);
		transition-property: color, background-color;
		transition-duration: 200ms;
	}

	.calltoaction:hover {
		background-color: var(--color-purple-300);
		color: var(--color-black-100);
	}

	/* # Download item indicator */

	.circle {
		width: 60px;
		height: 60px;
		background-color: white;
		border: 2px solid var(--color-purple-600);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: -30px;
	}

	.download-container {
		display: flex;
		flex-direction: row;
		gap: 40px;
		justify-content: center;
		padding: 0 1.25rem;
	}


	.download-item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 200px;
		height: 100px;
		background-color: var(--color-seablue-100);
		color: white;
		text-align: center;
		position: relative;
		cursor: pointer;
		border-radius: 5px;
		font-weight: 600;
	}

	.download-item:hover {
		background-color: var(--color-seablue-60);
		color: var(--color-black-100);
	}

	.more-links-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		gap: 10px;
		padding: 10px 0 10px 0;
	}

	.more-link {
		display: flex;
		justify-content: center;
		text-align: center;
		padding: 40px 0 20px 0;
	}

	.more-links-container .more-link {
		padding: 10px 0 10px 0;
	}

	/* # Page */

	.page-title {
		font-size: 2rem;
		/* text-2xl */
		text-align: center;
		width: 100%;
		font-weight: 600;
		color: var(--color-primary-100);
	}

	.page-subtitle {
		font-size: 1.5rem;
		text-align: center;
		width: 100%;
		padding: 1rem;
		font-weight: 600;
		color: var(--color-primary-100);
	}

	/* # Section */

	.section-content {
		font-size: 1rem;
		/* text-md */
		padding: 0.75rem 1.25rem;
		width: 100%;
	}

	.section-header {
		font-size: 1.5rem;
		/* text-2xl */
		width: 100%;
		padding: 0 2.5rem;
		font-weight: 600;
	}

	/* # Services Section */

	.services {
		padding: 0 1.25rem;
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		gap: 1.25rem;
		width: 100%;
	}

	.itemContainer {
		padding: 0 1.25rem;
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		gap: 1.25rem;
		width: 100%;
	}

	.form-label {
		padding-bottom: 40px;
		font-weight: 700;
	}

	.label-text {
		color: var(--primary-100)
	}

	/* # Admin Lists */
	.admin-table {
		border-collapse: collapse;
		min-width: 100%;
	}

	.table-row {
		display: contents !important;
	}

	.table-header {
		background-color: white;
		cursor: pointer;
		padding: 0.75rem 0.5rem;
		text-align: left;
		font-size: 0.875rem;
		font-weight: 600;
		color: rgb(17 24 39);
		text-transform: uppercase;
	}

	.table-cell {
		font-size: 0.875rem;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: rgb(71 85 105);
	}

	.table-data {
		padding: 1.25rem 0.5rem;
		border-bottom: 1px solid rgb(203 213 225);
		align-content: center;
	}



	/* # Media Queries */

	/** sm */
	@media (min-width: 640px) {
		.services {
				grid-template-columns: repeat(2, minmax(0, 1fr));
				gap: 1rem;
				padding: 0 2rem;
			}
	}

	/** md */
	@media (min-width: 768px) {
		.article-image-container {
			margin-bottom: 20px;
		}

		.article-title {
			font-size: var(--text-3xl);
		}

		.article-metadata {
			font-size: var(--text-lg);
		}

		.article-metadata-item {
			font-size: var(--text-lg);
		}

		.more-links-container {
			flex-direction: row;
			gap: 40px;
			padding: 40px 0 20px 0;
		}

		.section-header {
			font-size: 1.875rem;
			/* text-3xl */
		}

		.services {
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: 2rem;
			padding: 0 2.5rem;
		}
	}

	/** lg */
	@media (min-width: 1024px) {
		.download-container {
			padding: 0 2.5rem;
		}

		.itemContainer {
			display: grid;
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: 1.25rem;
			padding: 0 2.5rem;
		}

		.page-title {
			font-size: var(--text-5xl);
			/* text-4xl */
			padding: 0 0;
			width: 100%;
		}

		.page-subtitle {
			font-size: var(--text-3xl);
			width: 100%;
		}

		.section-content {
			font-size: 1.5rem;
			/* text-2xl */
			padding: 0.5rem 2.5rem;
		}

		.services {
			grid-template-columns: repeat(4, minmax(0, 1fr));
			gap: 1rem;
			padding: 0 2rem;
		}
	}

	/** xl */
	@media (min-width: 1280px) {
		.article-title {
			font-size: var(--text-4xl);
		}

		.itemContainer {
			display: grid;
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: 1.25rem;
			padding: 0 2.5rem;
		}

		.page-title {
			font-size: var(--text-6xl);
			padding: 1rem;
		}

		.page-subtitle {
			font-size: var(--text-4xl);
			text-align: center;
			width: 100%;
		}

		.section-content {
			font-size: 2.25rem;
			/* text-4xl */
			padding: 1.25rem 2.5rem;
		}

		.section-header {
			font-size: var(--text-4xl);
		}

		.services {
			grid-template-columns: repeat(4, minmax(0, 1fr));
			gap: 2rem;
			padding: 0 2.5rem;
		}

		.table-header {
			font-size: var(--text-base);
		}
		.table-cell {
			font-size: var(--text-base);
		}
	}
}