/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		background: whitesmoke;
	}
	body {
		font-family: 'Inter', sans-serif;
		min-height: 100vh;
		@apply text-primary-100;
	}

	a {
		@apply cursor-pointer pb-1 text-purple-60;
	}

	.link {
		@apply relative no-underline transition-colors duration-200;
	}

	.link::after {
		@apply absolute bottom-0 left-0 h-0.5 w-full origin-bottom-left scale-x-0 bg-purple-700 transition-transform duration-200 content-[''];
	}

	.link:hover::after {
		@apply scale-x-100;
	}

	.calltoaction {
		@apply flex h-12 w-60 items-center justify-center rounded-xl border-0 border-purple-600 bg-purple-600 font-semibold text-white-primary transition-colors duration-200;
	}

	.calltoaction:hover {
		@apply bg-purple-300 text-black-100;
	}

	h1 {
		color: black;
		font-weight: 700;
		font-size: 2rem;
		margin-top: 0.5em;
		margin-bottom: 0.6em;
		line-height: 1.6;
		@apply text-primary-100;
	}

	h2 {
		color: black;
		font-weight: 700;
		font-size: 1.5rem;
		margin-top: 0.5em;
		margin-bottom: 0.6em;
		line-height: 1.6;
		@apply text-primary-100;
	}

	h3 {
		font-weight: 600;
		font-size: 1.25em;
		margin-top: 0.5em;
		margin-bottom: 0.6em;
		line-height: 1.6;
	}

	h4 {
		@apply text-lg font-semibold;
	}
}
